@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root{
    --body-bg-color: #222;
    --font-color : #fff;
}

body {
  font-family: "Noto Sans Khmer", sans-serif;
  font-size: 16px;
  background-color: var(--body-bg-color) !important;
  color: var(--font-color);
}
